body{
    font-family: 'Roboto';
    min-height: 100vh;

    justify-content: center;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.gap-20{
    gap: 20px;
}

.flex-auto{
    flex: auto;
}

.flex-grow-1{
    flex-grow: 1;
}

.margin-top-auto{
    marign-top: auto;
}

.bold{
    font-weight: 900;   
}

.font-size-48{
    font-size: 48px;
}

.font-size-36{
    font-size: 36px;
}

.font-size-24{
    font-size: 24px;
}

.font-size-18{
    font-size: 18px;
}

.italic{
    font-style: italic;
}

.square{
    box-sizing: border-box;
    border: #3882F6;
    padding: 20px;
}

.background-dark{
    background-color: #1F2937;
}

.background-blue{
    background-color: #3882F6;
}

.background-grey{
    background-color: #E5E7EB;
}

.text-grey{
    color: #E5E7EB;
}

.text-dark_grey{
    color: grey;
}

.text-white{
    color: #F9FAF8;
}

.text-black{
    color: #1F2937;
}
