.body{
    font-family: "Roboto";
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.gap-20{
    gap: 20px;
}

.bold{
    font-weight: bold;   
}

.font-size-10{
    font-size: 10px;
}

.italic{
    font-style: italic;
}

.square{
    box-sizing: border-box;
    border: #3882F6;
    padding: 20px;
}